<a href="https://colab.research.google.com/github/Fiyaaak/TUGAS-PEMBELAJARAN-SECARA-STATISTIK-DAN-OPTIMISASI/blob/main/Tugas_SLO_Week_6_(Data_Visualization).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TUGAS SLO WEEK 6 (Data Visualization)**

Nama : Luthfia Azzahra Kusumawardhani

NIM : 1101204102

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Membaca dataset dari file CSV
df = pd.read_csv("/content/drive/MyDrive/Dataset Assignment SLO/mycsvfile.csv")

# Menampilkan informasi terkait Dataset

In [ ]:
# Menampilkan lima baris pertama dari dataset
print("Menampilkan lima baris pertama dari dataset:")
print(df.head())

# Menampilkan informasi mengenai dataset
print("\nInformasi mengenai dataset:")
print(df.info())

# Menampilkan ringkasan statistik dari dataset
print("\nRingkasan statistik dari dataset:")
print(df.describe())

Menampilkan lima baris pertama dari dataset:
   Unnamed: 0  Rank                 PLAYER               TEAM    P  GS  MIN  \
0           0     1  Dominic Calvert-Lewin            Everton  EVE   2    2
1           1     2          Heung-Min Son  Tottenham Hotspur  TOT   2    2
2           2     3          Wilfried Zaha     Crystal Palace  CRY   2    2
3           3     4    Mohamed Salah Ghaly          Liverpool  LIV   2    2
4           4     5    Alexandre Lacazette            Arsenal  ARS   2    2

     G  ASST  SHOTS  SOG  Unnamed: 10
0  160     4      0    6            5
1  180     4      0    5            5
2  180     3      0    5            3
3  180     3      0    6            4
4  164     2      0    3            2

Informasi mengenai dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   383 non-null    int64
 1   Rank         383 non-null    int64
 2   PLAYER       383 non-null    object
 3   TEAM         383 non-null    object
 4   P            383 non-null    object
 5   GS           383 non-null    int64
 6   MIN          383 non-null    int64
 7   G            383 non-null    int64
 8   ASST         383 non-null    int64
 9   SHOTS        383 non-null    int64
 10  SOG          383 non-null    int64
 11  Unnamed: 10  383 non-null    int64
dtypes: int64(9), object(3)
memory usage: 36.0+ KB
None

Ringkasan statistik dari dataset:
       Unnamed: 0       Rank          GS         MIN           G        ASST  \
count   383.00000  383.00000  383.000000  383.000000  383.000000  383.000000
mean    191.00000  192.00000    1.292428    1.033943   92.610966    0.172324
std     110.70682  110.70682    0.784750    0.878121   71.590038    0.538144
min       0.00000    1.00000    0.000000    0.000000    0.000000    0.000000
25%      95.50000   96.50000    1.000000    0.000000   12.500000    0.000000
50%     191.00000  192.00000    1.000000    1.000000   90.000000    0.000000
75%     286.50000  287.50000    2.000000    2.000000  180.000000    0.000000
max     382.00000  383.00000    2.000000    2.000000  180.000000    4.000000

            SHOTS         SOG  Unnamed: 10
count  383.000000  383.000000   383.000000
mean     0.109661    0.780679     0.396867
std      0.380803    1.389543     0.906169
min      0.000000    0.000000     0.000000
25%      0.000000    0.000000     0.000000
50%      0.000000    0.000000     0.000000
75%      0.000000    1.000000     0.000000
max      4.000000    8.000000     5.000000

In [ ]:
print(df.columns)

Index(['Unnamed: 0', 'Rank', 'PLAYER', 'TEAM', 'P', 'GS', 'MIN', 'G', 'ASST',
       'SHOTS', 'SOG', 'Unnamed: 10'],
      dtype='object')

# 1. 10 Player terbanyak mencetak Gol

In [ ]:
# Menemukan 10 pemain terbanyak mencetak gol
top_10_scorers = df.nlargest(10, 'G')
print(df.columns)

# Menampilkan hasil
print("10 Player terbanyak mencetak gol:")
print(top_10_scorers[['PLAYER', 'G']])

Index(['Unnamed: 0', 'Rank', 'PLAYER', 'TEAM', 'P', 'GS', 'MIN', 'G', 'ASST',
       'SHOTS', 'SOG', 'Unnamed: 10'],
      dtype='object')
10 Player terbanyak mencetak gol:
                                    PLAYER    G
1                            Heung-Min Son  180
2                            Wilfried Zaha  180
3                      Mohamed Salah Ghaly  180
6                 Daniel William John Ings  180
9   Hélder Wander Sousa de Azevedo e Costa  180
10                              Sadio Mané  180
11                             Jamie Vardy  180
12                            Raúl Jiménez  180
13                             Neal Maupay  180
14               Pierre-Emerick Aubameyang  180

# 2. 10 Player terlama durasi bermain

In [ ]:
# 10 Player terlama durasi bermain
top_10_playing_time = df.nlargest(10, 'MIN')

print("\n10 Player terlama durasi bermain:")
print(top_10_playing_time[['PLAYER', 'MIN']])

10 Player terlama durasi bermain:
                                    PLAYER  MIN
0                    Dominic Calvert-Lewin    2
1                            Heung-Min Son    2
2                            Wilfried Zaha    2
3                      Mohamed Salah Ghaly    2
4                      Alexandre Lacazette    2
6                 Daniel William John Ings    2
7                          Patrick Bamford    2
8                            Mateusz Klich    2
9   Hélder Wander Sousa de Azevedo e Costa    2
10                              Sadio Mané    2

# 3. 10 Player terbanyak Assist

In [ ]:
# 10 Player terbanyak assist
top_10_assist = df.nlargest(10, 'ASST')

print("\n4 Player pencetak gol terbanyak dari kesebelasan Manchester City:")
print(top_10_assist[['PLAYER', 'ASST']])

4 Player pencetak gol terbanyak dari kesebelasan Manchester City:
                                   PLAYER  ASST
0                   Dominic Calvert-Lewin     4
1                           Heung-Min Son     4
2                           Wilfried Zaha     3
3                     Mohamed Salah Ghaly     3
4                     Alexandre Lacazette     2
5                     Aleksandar Mitrović     2
6                Daniel William John Ings     2
7                         Patrick Bamford     2
8                           Mateusz Klich     2
9  Hélder Wander Sousa de Azevedo e Costa     2

# 4. 4 Player pencetak gol terbanyak dari kesebelasan Manchester City

In [ ]:
#Menentukan 4 Player pencetak gol terbanyak dari kesebelasan Manchester City

# Filtering pemain dari kesebelasan Manchester City
man_city_players = df[df['TEAM'] == 'Manchester City']

# Menemukan 4 pemain dengan jumlah gol terbanyak dari Manchester City
top_scorers_man_city = man_city_players.nlargest(4, 'G')

# Menampilkan hasil
print("4 Player pencetak gol terbanyak dari kesebelasan Manchester City:")
print(top_scorers_man_city[['PLAYER', 'G']])

4 Player pencetak gol terbanyak dari kesebelasan Manchester City:
                         PLAYER   G
43              Kevin De Bruyne  90
44                   Phil Foden  90
45    Gabriel Fernando de Jesus  90
368  Rodrigo Hernández Cascante  90

# 5. Dari kesebelasan mana pencetak gol terbanyak?

In [ ]:
#Menentukan dari kesebelasan mana pencetak gol terbanyak

# Mengelompokkan data berdasarkan kesebelasan dan menjumlahkan jumlah gol
goals_by_team = df.groupby('TEAM')['G'].sum()

# Mendapatkan kesebelasan dengan jumlah gol terbanyak
most_goals_team = goals_by_team.idxmax()

# Menampilkan hasil
print("Dari kesebelasan mana pencetak gol terbanyak:")
print(most_goals_team)

Dari kesebelasan mana pencetak gol terbanyak:
Arsenal

# 6. Berapa Jumlah kartu kuning dan merah yang diterima pembuat Assist terbanyak?

In [ ]:
# Jumlah kartu kuning dan merah yang diterima pembuat assist terbanyak

# Menemukan pembuat assist terbanyak
most_assist_player = df.nlargest(1, 'ASST')

# Mengambil nama pemain pembuat assist terbanyak
player_with_most_assist = most_assist_player['PLAYER'].iloc[0]

# Mengambil jumlah kartu kuning dan merah untuk pemain pembuat assist terbanyak
yellow_cards = most_assist_player['SHOTS'].iloc[0]  # Misalkan kolom SHOTS menyimpan kartu kuning
red_cards = most_assist_player['SOG'].iloc[0]  # Misalkan kolom SOG menyimpan kartu merah

# Menampilkan hasil
print("Jumlah kartu kuning yang diterima oleh", player_with_most_assist, ":", yellow_cards)
print("Jumlah kartu merah yang diterima oleh", player_with_most_assist, ":", red_cards)

Jumlah kartu kuning yang diterima oleh Dominic Calvert-Lewin : 0
Jumlah kartu merah yang diterima oleh Dominic Calvert-Lewin : 6

# 7. Siapa yang jumlah Assist dan golnya paling banyak dan dari kesebelasan mana?

In [ ]:
# Pemain dengan jumlah assist dan gol paling banyak dan dari kesebelasan mana

# Menemukan pemain dengan jumlah assist dan gol terbanyak
most_goals_and_assists = df.nlargest(1, ['ASST', 'G'])

# Mendapatkan nama pemain dan kesebelasan
player_with_most = most_goals_and_assists['PLAYER'].iloc[0]
team_of_player_with_most = most_goals_and_assists['TEAM'].iloc[0]
goals_of_player_with_most = most_goals_and_assists['G'].iloc[0]
assists_of_player_with_most = most_goals_and_assists['ASST'].iloc[0]

# Menampilkan hasil
print("Pemain dengan jumlah assist dan gol paling banyak dan dari kesebelasan mana:")
print("Nama Pemain:", player_with_most)
print("Kesebelasan:", team_of_player_with_most)
print("Jumlah Gol:", goals_of_player_with_most)
print("Jumlah Assist:", assists_of_player_with_most)

Pemain dengan jumlah assist dan gol paling banyak dan dari kesebelasan mana:
Nama Pemain: Heung-Min Son
Kesebelasan: Tottenham Hotspur
Jumlah Gol: 180
Jumlah Assist: 4

# 8. 5 Kesebelasan yang menyumbangkan gol

In [ ]:
# 5 Kesebelasan yang menyumbangkan gol terbanyak
# Mengelompokkan data berdasarkan kesebelasan dan menjumlahkan jumlah gol
goals_by_team = df.groupby('TEAM')['G'].sum()

# Mengambil 5 kesebelasan dengan jumlah gol terbanyak
top_5_scoring_teams = goals_by_team.nlargest(5)

# Menampilkan hasil
print("5 Kesebelasan yang menyumbangkan gol terbanyak:")
print(top_5_scoring_teams)

5 Kesebelasan yang menyumbangkan gol terbanyak:
TEAM
Arsenal           1980
Crystal Palace    1980
Everton           1980
Fulham            1980
Leeds United      1980
Name: G, dtype: int64

# 9. Urutkan pemain berdasarkan jumlah gol terbanyak tanpa mendapatkan kartu sama sekali

In [ ]:
# Mengurutkan pemain berdasarkan jumlah gol terbanyak tanpa mendapatkan kartu kuning atau merah
# Filtering pemain yang tidak mendapatkan kartu kuning atau merah
players_without_cards = df[(df['SHOTS'] == 0) & (df['SOG'] == 0)]

# Mengurutkan pemain berdasarkan jumlah gol terbanyak
sorted_players_without_cards = players_without_cards.sort_values('G', ascending=False)

# Menampilkan hasil
print("Urutan pemain berdasarkan jumlah gol terbanyak tanpa mendapatkan kartu kuning atau merah:")
print(sorted_players_without_cards[['PLAYER', 'G']])

Urutan pemain berdasarkan jumlah gol terbanyak tanpa mendapatkan kartu kuning atau merah:
                                  PLAYER    G
46                        Michael Hector  180
155                          Declan Rice  180
181                        Sam Johnstone  180
173                         Kyle Bartley  180
171  Oluwasemilogo Adesewo Ibidapo Ajayi  180
..                                   ...  ...
154                      Darren Randolph    0
87                             Max Meyer    0
260         Diogo José Teixeira da Silva    0
256                           John Ruddy    0
91                             Sam Woods    0

[232 rows x 2 columns]